# Pycache folders
__pycache__/

# Representation files
*.png
*.eps
*.jpg
*.jpeg

# Simulation log files
*.log
*.prof

# Code runners
.vscode/
src/run.sh

# Output folder
output/

# Environments
.venv/
venv/